div#profile_page.profile_and_following_view
  h3 プロフィールページ
  div.profile
    div.profile_header
      div.p_h_left
        img(src="#{image_url}")
      div.p_h_right
        h4.title_box #{name}さんからのメッセージ
        p.message #{profile.message}
    div.supporter-message-list
        h4.title_box #{name}さんの応援団おすすめ情報
        ul
    div.profile_body
      h4.title_box #{name}さんのプロフィール
      table.sub
        tbody
          tr
            td.key.hoby 趣味
            td.value #{profile.hoby}
          tr
            td.key.like 好きなもの
            td.value #{profile.like}
          tr
            td.key.ideal-message 理想のパートナー像
            td.value #{profile.idealPartner}
          tr
            td.key.ideal-age お相手の希望年齢
            td.value #{profile.ageRangeMin} ~ #{profile.ageRangeMax}歳`
      table.main
        tbody
          - martialHistoryArray = ['---','なし','あり']
          - childrenArray = ['---','いない','いる(別居)','いる(同居)']
          tr
            td.left-key 結婚歴
            td.left-value #{martialHistoryArray[profile.martialHistory]}

            td.right-key 子供の有無
            td.right-value #{childrenArray[profile.hasChild]}

          - wantMarriageArray = ['---','すぐにでも','2〜3年のうちに','お相手に合わせる','特に決めてない']
          - wantChildArray = ['---','結婚したら欲しい','お相手と相談したい','いなくても構わない','欲しくない','特に決めてない']
          tr
            td.left-key 結婚希望時期
            td.left-value #{wantMarriageArray[profile.wantMarriage]}

            td.right-key 子どもの希望
            td.right-value #{wantChildArray[profile.wantChild]}

          - addressArray = ['---','北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県',,'滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']
          - hometownArray = ['---','北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県',,'滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']
          tr
            td.left-key 居住地
            td.left-value #{addressArray[profile.address]}

            td.right-key 出身地
            td.right-value #{hometownArray[profile.hometown]}

          - jobArray = ['会社員（営業）','会社員（技術）','会社員（企画）','会社員（サービス）','会社員（販売）','会社員（クリエイティブ）','会社員（事務）','会社員（IT）','会社員（その他）','会社役員','会社経営','国家公務員','地方公務員','自営業','専門職','団体職員','派遣社員','アルバイト','家事手伝い','学生','その他']
          tr
            td.left-key ご職業
            td.left-value #{jobArray[profile.job]}

            td.right-key 年収
            td.right-value #{profile.income} 万円

          - educationArray = ['---','中学卒','高校卒','短大卒','大卒','大学院卒','その他']
          - bloodTypeArray = ['---','A','B','O','AB']
          tr
            td.left-key 学歴
            td.left-value #{educationArray[profile.education]}

            td.right-key 血液型
            td.right-value #{bloodTypeArray[profile.bloodType]}

          - shapeArray = ['---','スリム','ふつう','ぽっちゃり','グラマー','ガッチリ','太め']
          tr
            td.left-key 身長
            td.left-value #{profile.height} cm

            td.right-key 体型
            td.right-value #{shapeArray[profile.shape]}

          - drinkingArray = ['---','毎日飲む','週3～4日飲む','週1～2日程度','たまに飲む','全く飲まない']
          - smokingArray = ['---','よく吸う','たまに吸う','まったく吸わない']
          tr
            td.left-key 飲酒習慣
            td.left-value #{drinkingArray[profile.drinking]}

            td.right-key 喫煙習慣
            td.right-value #{smokingArray[profile.smoking]}
    div.profile_supporters
      h4.title_box #{name}さんの応援団
      ul
        - each follower in followers
          li
            div.thumbnail
              a.to-user(href="http://facebook.com/#{follower.from.facebook_id}")
                img(src="/api/users/#{follower.from.id}/picture")
                h5 #{follower.from.first_name}さん


    //- div.user_profiles.main_box
    //-   div.matchinguser_menu.box_menu
    //-     div.thumbnail_box
    //-       img.profile_image.pull-left(src='#{image_url}')
    //-     h4.name.title_box #{name} さんからのメッセージ
    //-     h5.message #{profile.message}
    //-   div.supporter-message-list
    //-     h4.green #{name}さんの応援団おすすめ情報
    //-     ul
    //-       - each message in messages
    //-         li
    //-           div.s-message-left
    //-             img(src="/api/users/#{message.supporter.id}/picture")
    //-           div.s-mesage-right
    //-             div.s-message-header #{message.supporter.first_name} さん
    //-             div.s-message-body #{message.message}
    //-   div.detail_profile
    //-     div.profile-column
    //-       div.profile-column-header
    //-         h4.title_box #{name}さんのプロフィール
    //-       div.ideal-profile
    //-       div.profile-column-body
    //-         table.sub
    //-           tbody
    //-             tr
    //-               td.key.hoby 趣味
    //-               td #{profile.hoby}
    //-             tr
    //-               td.key.like 好きなもの
    //-               td #{profile.like}
    //-             tr
    //-               td.key.ideal-message 理想のパートナー像
    //-               td #{profile.idealPartner}
    //-             tr
    //-               td.key.ideal-age お相手の希望年齢
    //-               td #{profile.ageRangeMin} ~ #{profile.ageRangeMax}歳`
    //-         table.main
    //-           tbody
    //-             - martialHistoryArray = ['---','なし','あり']
    //-             - childrenArray = ['---','いない','いる(別居)','いる(同居)']
    //-             tr
    //-               td.key 結婚歴
    //-               td #{martialHistoryArray[profile.martialHistory]}
    //-               td.key 子供の有無
    //-               td #{childrenArray[profile.hasChild]}

    //-             - wantMarriageArray = ['---','すぐにでも','2〜3年のうちに','お相手に合わせる','特に決めてない']
    //-             - wantChildArray = ['---','結婚したら欲しい','お相手と相談したい','いなくても構わない','欲しくない','特に決めてない']
    //-             tr
    //-               td.key 結婚希望時期
    //-               td #{wantMarriageArray[profile.wantMarriage]}

    //-               td.key 子どもの希望
    //-               td #{wantChildArray[profile.wantChild]}

    //-             - addressArray = ['---','北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県',,'滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']
    //-             - hometownArray = ['---','北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県',,'滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']
    //-             tr
    //-               td.key 居住地
    //-               td #{addressArray[profile.address]}

    //-               td.key 出身地
    //-               td #{hometownArray[profile.hometown]}

    //-             - jobArray = ['会社員（営業）','会社員（技術）','会社員（企画）','会社員（サービス）','会社員（販売）','会社員（クリエイティブ）','会社員（事務）','会社員（IT）','会社員（その他）','会社役員','会社経営','国家公務員','地方公務員','自営業','専門職','団体職員','派遣社員','アルバイト','家事手伝い','学生','その他']
    //-             tr
    //-               td.key ご職業
    //-               td #{jobArray[profile.job]}

    //-               td.key 年収
    //-               td #{profile.income} 万円

    //-             - educationArray = ['---','中学卒','高校卒','短大卒','大卒','大学院卒','その他']
    //-             - bloodTypeArray = ['---','A','B','O','AB']
    //-             tr
    //-               td.key 学歴
    //-               td #{educationArray[profile.education]}

    //-               td.key 血液型
    //-               td #{bloodTypeArray[profile.bloodType]}

    //-             - shapeArray = ['---','スリム','ふつう','ぽっちゃり','グラマー','ガッチリ','太め']
    //-             tr
    //-               td.key 身長
    //-               td #{profile.height} cm

    //-               td.key 体型
    //-               td #{shapeArray[profile.shape]}

    //-             - drinkingArray = ['---','毎日飲む','週3～4日飲む','週1～2日程度','たまに飲む','全く飲まない']
    //-             - smokingArray = ['---','よく吸う','たまに吸う','まったく吸わない']
    //-             tr
    //-               td.key 飲酒習慣
    //-               td #{drinkingArray[profile.drinking]}

    //-               td.key 喫煙習慣
    //-               td #{smokingArray[profile.smoking]}

    //-     div.follower_column
    //-       div.follower_column_header
    //-         h4.title_box #{name} さんの応援団
    //-       div.follower-column-body
    //-         ul.follower-list
    //-           - each follower in followers
    //-             li
    //-               div.thumbnail
    //-                 a.to-user(href='http://facebook.com/#{follower.from.facebook_id}')
    //-                   img(src="/api/users/#{follower.from.id}/picture")
    //-                   h5 #{follower.from.first_name} さん

//- div#profile_page.profile_and_following_view
//-   h3 プロフィールページ
//-   div.box
//-     div.user_profiles.main_box
//-       div.matchinguser_menu.box_menu
//-         div.thumbnail_box
//-           img.profile_image.pull-left(src='#{image_url}')
//-         h4.name.title_box #{name} さんからのメッセージ
//-         h5.message #{profile.message}
//-       div.supporter-message-list
//-         h4.green #{name}さんの応援団おすすめ情報
//-         ul
//-           - each message in messages
//-             li
//-               div.s-message-left
//-                 img(src="/api/users/#{message.supporter.id}/picture")
//-               div.s-mesage-right
//-                 div.s-message-header #{message.supporter.first_name} さん
//-                 div.s-message-body #{message.message}
//-       div.detail_profile
//-         div.profile-column
//-           div.profile-column-header
//-             h4.title_box #{name}さんのプロフィール
//-           div.ideal-profile
//-           div.profile-column-body
//-             table.sub
//-               tbody
//-                 tr
//-                   td.key.hoby 趣味
//-                   td #{profile.hoby}
//-                 tr
//-                   td.key.like 好きなもの
//-                   td #{profile.like}
//-                 tr
//-                   td.key.ideal-message 理想のパートナー像
//-                   td #{profile.idealPartner}
//-                 tr
//-                   td.key.ideal-age お相手の希望年齢
//-                   td #{profile.ageRangeMin} ~ #{profile.ageRangeMax}歳`
//-             table.main
//-               tbody
//-                 - martialHistoryArray = ['---','なし','あり']
//-                 - childrenArray = ['---','いない','いる(別居)','いる(同居)']
//-                 tr
//-                   td.key 結婚歴
//-                   td #{martialHistoryArray[profile.martialHistory]}
//-                   td.key 子供の有無
//-                   td #{childrenArray[profile.hasChild]}

//-                 - wantMarriageArray = ['---','すぐにでも','2〜3年のうちに','お相手に合わせる','特に決めてない']
//-                 - wantChildArray = ['---','結婚したら欲しい','お相手と相談したい','いなくても構わない','欲しくない','特に決めてない']
//-                 tr
//-                   td.key 結婚希望時期
//-                   td #{wantMarriageArray[profile.wantMarriage]}

//-                   td.key 子どもの希望
//-                   td #{wantChildArray[profile.wantChild]}

//-                 - addressArray = ['---','北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県',,'滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']
//-                 - hometownArray = ['---','北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県',,'滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']
//-                 tr
//-                   td.key 居住地
//-                   td #{addressArray[profile.address]}

//-                   td.key 出身地
//-                   td #{hometownArray[profile.hometown]}

//-                 - jobArray = ['会社員（営業）','会社員（技術）','会社員（企画）','会社員（サービス）','会社員（販売）','会社員（クリエイティブ）','会社員（事務）','会社員（IT）','会社員（その他）','会社役員','会社経営','国家公務員','地方公務員','自営業','専門職','団体職員','派遣社員','アルバイト','家事手伝い','学生','その他']
//-                 tr
//-                   td.key ご職業
//-                   td #{jobArray[profile.job]}

//-                   td.key 年収
//-                   td #{profile.income} 万円

//-                 - educationArray = ['---','中学卒','高校卒','短大卒','大卒','大学院卒','その他']
//-                 - bloodTypeArray = ['---','A','B','O','AB']
//-                 tr
//-                   td.key 学歴
//-                   td #{educationArray[profile.education]}

//-                   td.key 血液型
//-                   td #{bloodTypeArray[profile.bloodType]}

//-                 - shapeArray = ['---','スリム','ふつう','ぽっちゃり','グラマー','ガッチリ','太め']
//-                 tr
//-                   td.key 身長
//-                   td #{profile.height} cm

//-                   td.key 体型
//-                   td #{shapeArray[profile.shape]}

//-                 - drinkingArray = ['---','毎日飲む','週3～4日飲む','週1～2日程度','たまに飲む','全く飲まない']
//-                 - smokingArray = ['---','よく吸う','たまに吸う','まったく吸わない']
//-                 tr
//-                   td.key 飲酒習慣
//-                   td #{drinkingArray[profile.drinking]}

//-                   td.key 喫煙習慣
//-                   td #{smokingArray[profile.smoking]}

//-         div.follower_column
//-           div.follower_column_header
//-             h4.title_box #{name} さんの応援団
//-           div.follower-column-body
//-             ul.follower-list
//-               - each follower in followers
//-                 li
//-                   div.thumbnail
//-                     ato-user(href='http://facebook.com/#{follower.from.facebook_id}')
//-                       img(src="/api/users/#{follower.from.id}/picture")
//-                       h5 #{follower.from.first_name} さん